.numberstart{
    display: flex;
    justify-content: center;
    height: 15vh;
    align-items: center;
}
.halalPage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}
.Pizza_Page{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}